
<div class="panel panel-primary">
<div class="panel-heading">
ACCOUNT DEATILS
</div>

<div class="panel-body">
<div class="row">
  <div class="col-xs-6 col-md-4">Account Address:</div>
  <div class="col-xs-6 col-md-4">{{details.address}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Account UW Segment:</div>
  <div class="col-xs-6 col-md-4">{{details.uwsegment}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Account SIC:</div>
  <div class="col-xs-6 col-md-4">{{details.sic}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Last Date of Risk Control:</div>
  <div class="col-xs-6 col-md-4">{{details.lastDateOfRiskControl}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Customer Number:</div>
  <div class="col-xs-6 col-md-4">{{details.customerNumber}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Account Number:</div>
  <div class="col-xs-6 col-md-4">{{details.accountNumber}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Address:</div>
  <div class="col-xs-6 col-md-4">{{details.address}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">UW Segment:</div>
  <div class="col-xs-6 col-md-4">{{details.bgiCode}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">SIC:</div>
  <div class="col-xs-6 col-md-4">{{details.nacis}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Last Date of Risk Control:</div>
  <div class="col-xs-6 col-md-4">{{details.dandbnumber}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">CCOr:</div>
  <div class="col-xs-6 col-md-4">{{details.cco}}</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">Years In Business:</div>
  <div class="col-xs-6 col-md-4">{{details.yearsInBusiness}}</div>
</div>
</div>
</div>