<div class="container-fluid">
  <div class="row">
    <div class="col col-md-2" id="div1">
      <div class="row">
          <h4 align="center">Quick Links</h4>
          <nav>
              <ul>
                <li><a href="">Remedy</a></li>
                <li><a href="#">A-Rate Auto</a></li>
                <li><a href="#">A-Rater GL</a></li>
              </ul>
            </nav>
      </div>
      <div class="row">
          <h4  align="center">Quick Links</h4>
          <nav>
              <ul>
                <li><a href="">Remedy</a></li>
                <li><a href="#">A-Rate Auto</a></li>
                <li><a href="#">A-Rater GL</a></li>
              </ul>
            </nav>
      </div>
     
    </div>

    <div class="col col-md-6" id="div2">
      <h2 align="center">Assigned A/c List</h2>
          <table class="table table-bordered table-hover">
            <tr>
              <th>Company</th>
              <th>Account #</th>
              <th>Date</th>
              <th>Company</th>
              <th>Premium</th>
              <th>LOB</th>
              <th>Appetite</th>
              <th>SIC</th>
              <th>New/Renewal</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let data of accountListData">
                <td>{{ data.company }}</td>
                <td><a href="#" [routerLink]="['/accountDetails' , data.account]" >{{ data.account }}</a></td>
                <td>{{ data.date }}</td>
                <td>{{ data.companyTwo }}</td>
                <td>{{ data.premium }}</td>
                <td>{{ data.lob }}</td>
                <td>{{ data.apetite }}</td>
                <td>{{ data.sic }}</td>
                <td>{{ data.new }}</td>
                <td>{{ data.status }}</td>
              </tr>
          </table>
    </div>
    <div class="col col-md-2" id="div3">
      <div class="row">

          <h4 align="center">Announcements</h4>
          This is an announcement
      </div>
      <div  class="row">

          <h4 align="center">Metrics</h4>
          These are metrics!!
      </div>
    </div>
  </div>

  <div class="row">
      <footer>
          <!-- <p>Footer</p> -->
        </footer>
  </div>
</div>