<div class="container-fluid">
    <header>
      </header>
      
      <section>
        <nav>
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="#">Remedy</a></li>
            <li><a href="#">A-Rate Auto</a></li>
            <li><a href="#">A-Rater GL</a></li>
          </ul>
        </nav>
        
        <article>
          <h3  align="center">ASSIGNED ACCOUNT LIST</h3>
          <table class="table table-bordered table-hover">
            <tr>
              <th>Date</th>
              <th>LOB</th>
              <th>SIC</th>
              <th>Account number</th>
              <th>Appetite</th>
              <th>Company name</th>
              <th>Policty status</th>
              <th>Premium</th>
              <th>Renewal type</th>
            </tr>
            <tr *ngFor="let data of accountListData">
              <td>{{ data.Date }}</td>
              <td>{{ data.LOB }}</td>
              <td>{{ data.SIC }}</td>
              <td>{{ data.accountNumber }}</td>
              <td>{{ data.appetite }}</td>
              <td>{{ data.companyName }}</td>
              <td>{{ data.policyStatus }}</td>
              <td>{{ data.premium }}</td>
              <td>{{ data.renewalType }}</td>
            </tr>
          </table>
         </article>
      </section>
      
      <footer>
        <p>Footer</p>
      </footer>
</div>
